import { classNames } from 'shared/lib/classNames/classNames';
import { memo } from 'react';
import { useTranslation } from 'react-i18next';
import cls from './$NAME.module.scss';

interface $NAMEProps {
    className?: string;
}

export const $NAME = memo((props: $NAMEProps) => {
    const { className } = props;

    const { t } = useTranslation();

    return (
        <div className={classNames(cls.$NAME, {}, [className])}>
            {t('$NAME')}
        </div>
    );
});
