.AddCommentForm {
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.input {
    flex-grow: 1;
}
