.app_dark_theme {
    --bg-color: #0b0b58;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #1e9b1e;
    --secondary-color: #095209;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
