.app_green_theme {
    --bg-color: #295222;
    --inverted-bg-color: #F2F9F0;
    --primary-color: #a4b980;
    --secondary-color: #9ab172;
    --inverted-primary-color: #5f7734;
    --inverted-secondary-color: #314214;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(37, 35, 35, 0.2);

    // code
    --code-bg: #368a29;

    // card
    --card-bg: #588052;
}
