.app_green_theme {
    --bg-color: #22551a;
    --inverted-bg-color: #F2F9F0;
    --primary-color: #314214;
    --secondary-color: #314214;
    --inverted-primary-color: #7b9254;
    --inverted-secondary-color: #314214;
}
