:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0c47fa;
    --secondary-color: #083cac;
    --inverted-primary-color: #1e9b1e;
    --inverted-secondary-color: #095209;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #a6a6c2;

    // card
    --card-bg: #b7b7ec;
}
